/* Reset de elementos e normalização básica */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  background-color: var(--color-bg-primary);
  color: var(--color-neutral-800);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus-visible {
  text-decoration: underline;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

button,
input[type='button'],
input[type='submit'] {
  cursor: pointer;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style-position: inside;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

[hidden] {
  display: none !important;
}
